<ul class="nav">
  <% if current_deck = active_deck(current_user) %>
    <% deck_slug = current_deck.slug %>
    <li class="nav-item nav-item--deck">
      <%= nav_link(dashboard_deck_cards_path(deck_slug), deck_name(current_deck)) %>
    </li>
    <li class="nav-item">
      <%= nav_link(new_dashboard_deck_card_path(deck_slug), t(:add_card)) %>
    </li>
  <% end %>

  <li class="nav-item">
    <ul class="dropdown show">
      <li class="btn dropdown-toggle d-flex align-items-center"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <% if current_user.avatar.file %>
            <%= image_tag(current_user.avatar.url) %>
          <% else %>
            <i class="icon fa fa-user mr-1"></i>
          <% end %>
      </li>

      <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to dashboard_decks_path, class: 'dropdown-item' do %>
            <%= t(:decks_list) %>
            <i class="fa fa-clone ml-1"></i>
        <% end %>
        <%= link_to edit_dashboard_user_path(current_user),
            class: 'dropdown-item' do %>
              <%= t(:profile) %>
              <i class="fa fa-edit ml-1"></i>
            <% end %>
        <%= link_to dashboard_logout_path,
            method: :delete,
            class: 'dropdown-item' do %>
              <%= t(:logout) %>
              <i class="fa fa-sign-out ml-1"></i>
            <% end %>
      </li>
    </ul>
  </li>
</ul>
