<ul class="nav">
  <% if cards?(current_user) %>
    <li class="nav-item">
      <%= nav_link(cards_path, t(:my_cards)) %>
    </li>
  <% end %>

  <li class="nav-item">
    <%= nav_link(new_card_path, t(:add_card)) %>
  </li>

  <li class="nav-item">
    <ul class="dropdown show">
      <li class="btn dropdown-toggle"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
        <i class="icon fa fa-user"></i>
      </li>

      <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to edit_user_path(current_user),
            class: 'dropdown-item' do %>
              <%= t(:profile) %>
              <i class="fa fa-edit ml-1"></i>
            <% end %>
        <%= link_to logout_path,
            method: :delete,
            class: 'dropdown-item' do %>
              <%= t(:logout) %>
              <i class="fa fa-sign-out ml-1"></i>
            <% end %>
      </li>
    </ul>
  </li>
</ul>
