<ul class="nav">
  <% if current_deck %>
    <% deck_id = current_deck.id %>
    <li class="nav-item nav-item--deck">
      <%= nav_link(deck_cards_path(deck_id), deck_name(current_deck)) %>
    </li>
    <li class="nav-item">
      <%= nav_link(new_deck_card_path(deck_id), t(:add_card)) %>
    </li>
  <% end %>

  <li class="nav-item">
    <ul class="dropdown show">
      <li class="btn dropdown-toggle"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
        <i class="icon fa fa-user"></i>
      </li>

      <li class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to decks_path, class: 'dropdown-item' do %>
            <%= t(:decks_list) %>
            <i class="fa fa-clone ml-1"></i>
        <% end %>
        <%= link_to edit_user_path(current_user),
            class: 'dropdown-item' do %>
              <%= t(:profile) %>
              <i class="fa fa-edit ml-1"></i>
            <% end %>
        <%= link_to logout_path,
            method: :delete,
            class: 'dropdown-item' do %>
              <%= t(:logout) %>
              <i class="fa fa-sign-out ml-1"></i>
            <% end %>
      </li>
    </ul>
  </li>
</ul>
