<%= render partial: 'partials/page-title', locals: {
  title: t(:deck) + ': ' + deck_name(@deck)
} %>

<h4 class="mt-2 mb-0"><%=t(:deck_cards)%></h4>
<table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th><%=t(:picture)%></th>
      <th><%=t(:original_text)%></th>
      <th><%=t(:translated_text)%></th>
      <th><%=t(:review_date)%></th>
      <th><%=t(:action)%></th>
    </tr>
  </thead>
  <% @cards.each do |card| %>
    <tr>
      <td>
        <% if card&.image&.thumb&.url %>
          <%= image_tag(card.image.thumb.url) %>
        <% end %>
      </td>
      <td><%=card.original_text%></td>
      <td><%=card.translated_text%></td>
      <td><%=format_date(card.review_date)%></td>
      <td>
        <div>
          <button class="btn card-action-btn mr-1">
            <%= link_to edit_deck_card_path(@deck, card) do %>
              <%=image_tag 'edit.png', width: '24' %>
            <% end %>
          </button>

          <button class="btn card-action-btn">
            <%= link_to deck_card_path(@deck, card),
               method: :delete,
               data: {confirm: t(:delete_card_confirm)} do %>
                  <%=image_tag 'garbage.png', width: '24' %>
              <% end %>
          </button>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to new_dashboard_deck_card_path(@deck.slug),
    class: 'btn btn-secondary mt-3' do %>
  <%= t(:add_card) %>
  <i class="fa fa-plus ml-1 align-middle"></i>
<% end %>

<%= render partial: 'partials/notice', locals: {
    notice_text: flash.notice,
    class_name: 'alert-success'
} %>
