<div>
  <div class="mb-3">
    <%= label_tag t(:your_avatar) %>
    <%= render partial: 'partials/upload-img',
        locals: {
          form: form,
          model: user,
          image_field: 'avatar',
          formats: '.gif, .png'
        } %>
  </div>

  <div class="mb-3">
    <%= label_tag t(:select_lang) %>
    <% I18n.available_locales.each do |locale| %>
      <div>
        <% active_locale = locale == I18n.locale %>
        <%= radio_button_tag 'user_locale', locale, active_locale %>
        <%= label_tag "user_locale_#{locale}", t(locale.to_sym) %>
      </div>
    <% end %>
  </div>
</div>
