<%= simple_form_for @user, html: {class: 'mt-4'} do |f| %>
  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, :required => true %>
    <% if defined? with_avatar %>
      <div class="mb-3">
        <%= label_tag t(:your_avatar) %>
        <%= render partial: 'partials/upload-img',
            locals: {
              form: f,
              model: @user,
              image_field: 'avatar',
              formats: '.gif, .png'
            } %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary mt-2' %>
  </div>
<% end %>
