<%= simple_form_for @user, html: {class: 'mt-4'} do |f| %>
  <div class="form-inputs">
    <% unless @authorized_by_oauth %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, :required => true %>
    <% end %>
    <% if defined? edit %>
      <%= render partial: 'edit-form-part', locals: { form: f, user: @user } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary mt-2' %>
  </div>
<% end %>
