<%= simple_form_for @user, html: {class: 'mt-4'} do |f| %>
  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :crypted_password %>
    <%= f.input :crypted_password_confirmation, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary mt-2' %>
  </div>
<% end %>
