<header class="clearfix">
  <ul class="navigation-links nav">
    <li class="nav-item">
      <%= link_to t(:all_cards), cards_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to t(:add_card), new_card_path, class: 'nav-link active' %>
    </li>
  </ul>
</header>

<main>
  <%= render partial: 'partials/page-title', locals: {title: t(:title)} %>

  <div>
    <p class="desc">
      <%=t('desc')%>
    </p>
  </div>

  <p><%=@card.original_text%>?</p>

</main>
