<section>
  <%= render partial: 'partials/page-title', locals: {title: t(:title)} %>

  <div>
    <p class="font-size--larger">
      <%=t('desc')%>
    </p>
  </div>

  <% if current_user %>
    <% if @card.present? %>
      <%= render 'review-card' %>
    <% else %>
      <p><i><%= t(:cards_check_empty)%></i></p>
    <% end %>
  <% end %>
</section>

<%= render partial: 'partials/notice',
    locals: {
      notice_text: flash.notice || flash.alert,
      class_name: flash.alert ? 'alert-danger' : 'alert-success',
    } %>
