<header class="clearfix">
  <ul class="navigation-links nav">
    <li class="nav-item">
      <%= link_to t(:all_cards), cards_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to t(:add_card), new_card_path, class: 'nav-link active' %>
    </li>
  </ul>
</header>

<main>
  <%= render partial: 'partials/page-title', locals: {title: t(:title)} %>

  <div>
    <p class="desc">
      <%=t('desc')%>
    </p>
  </div>

  <%= simple_form_for :card, html: {class: ''},
      url: check_answer_card_path(id: @card.id) do |f| %>
    <%= f.input :answer, label: @card.original_text + '?',
        label_html: { class: 'font-weight-bold' },
        :required => true,
        input_html: { value: nil } %>
    <%= f.button :submit, t(:check), class: 'btn-primary mt-2',
        data: { disable_with: t(:checking) } %>
  <% end %>

  <%= link_to t(:next_card), root_path, class: 'btn btn-secondary' %>
</main>

<%= render partial: 'partials/notice',
    locals: {
      notice_text: flash.notice,
      class_name: @wrong_answer ? 'alert-danger' : 'alert-success',
    } %>
