<header class="d-flex justify-content-end">
  <% if current_user %>
    <%= render 'partials/user-menu' %>
  <% else %>
    <%= render 'partials/guest-menu' %>
  <% end %>
</header>

<main>
  <%= render partial: 'partials/page-title', locals: {title: t(:title)} %>

  <div>
    <p class="font-size--larger">
      <%=t('desc')%>
    </p>
  </div>

  <% if @guess_card_text %>
    <%= simple_form_for @answer, html: {class: ''},
        url: card_answers_path(card_id: @card.id) do |f| %>
      <%= f.hidden_field :phrase, :value => @guess_card_text %>
      <%= f.input :answer, label: @guess_card_text + '?',
          label_html: { class: 'font-weight-bold' },
          :required => true,
          input_html: { id: 'answer', value: nil } %>
      <%= f.button :submit, t(:check), class: 'btn-primary mt-2',
          data: { disable_with: t(:checking) } %>
    <% end %>
  <% end %>
</main>

<%= render partial: 'partials/notice',
    locals: {
      notice_text: flash.notice,
      class_name: @wrong_answer ? 'alert-danger' : 'alert-success',
    } %>
