<header class="d-flex justify-content-end">
  <% if current_user %>
    <%= render 'partials/user-menu' %>
  <% else %>
    <%= render 'partials/guest-menu' %>
  <% end %>
</header>

<main>
  <%= render partial: 'partials/page-title', locals: {title: t(:title)} %>

  <div>
    <p class="font-size--larger">
      <%=t('desc')%>
    </p>
  </div>
</main>

<%= render partial: 'partials/notice',
    locals: {
      notice_text: flash.notice,
      class_name: @wrong_answer ? 'alert-danger' : 'alert-success',
    } %>
