<section>
  <%= render partial: 'partials/page-title', locals: {title: t(:title)} %>

  <div class="mt-4">
    <div class='font-weight-bold font-size--larger'>
      <%=@card.original_text + '?'%>
    </div>
    <%= image_tag(@card.image.url, class: 'mt-2 mb-2') unless @card.image.file.nil? %>
    <div>
      <%=t(:your_answer)%>
      <i class="text-info"><%=@answer.answer%></i>
    </div>
    <div>
      <%=t(:right_answer)%>
      <i class="text-success"><%=@card.translated_text%></i>
    </div>
  </div>

  <%=link_to t(:next_card), root_path, class: 'btn btn-primary mt-3'%>
</section>

<%= render partial: 'partials/notice',
    locals: {
      notice_text: flash.notice,
      class_name: 'alert-success'
    } %>
