<%= render partial: 'partials/page-title', locals: {title: t(:all_cards)} %>

<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th><%=t(:original_text)%></th>
      <th><%=t(:translated_text)%></th>
      <th><%=t(:review_date)%></th>
      <th><%=t(:action)%></th>
    </tr>
  </thead>
  <% @cards.each do |card| %>
    <tr>
      <td><%=card.original_text%></td>
      <td><%=card.translated_text%></td>
      <td><%=format_date(card.review_date)%></td>
      <td>
        <div>
          <button class="btn card-action-btn mr-1">
            <%= link_to edit_card_path(card) do %>
              <%=image_tag 'edit.png', :width => '24' %>
            <% end %>
          </button>

          <button class="btn card-action-btn">
            <%= link_to card_path(card),
               method: :delete,
               data: {confirm: t(:delete_card_confirm)} do %>
                  <%=image_tag 'garbage.png', :width => '24' %>
              <% end %>
          </button>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<% if flash.key?('notice')%>
  <div class="alert alert-primary notice" role="alert">
    <%=flash.notice%>
  </div>
<% end %>
