<head>
  <title><%=@page_title%></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path 'flash-card.png' %>
</head>
<body>
  <section class="grid-container">
    <%= yield %>
  </section>
</body>
